-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: protheus_mock
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `SA1`
--

DROP TABLE IF EXISTS `SA1`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `SA1` (
  `A1_COD` varchar(6) NOT NULL,
  `A1_NOME` varchar(40) NOT NULL,
  `A1_EST` varchar(2) NOT NULL,
  `A1_MUN` varchar(60) NOT NULL,
  PRIMARY KEY (`A1_COD`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `SA1`
--

LOCK TABLES `SA1` WRITE;
/*!40000 ALTER TABLE `SA1` DISABLE KEYS */;
INSERT INTO `SA1` VALUES ('000001','Brewto\'s Cervejaria Ltda.','SP','Vargem Grande Paulista');
/*!40000 ALTER TABLE `SA1` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `SA2`
--

DROP TABLE IF EXISTS `SA2`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `SA2` (
  `A2_COD` varchar(6) NOT NULL,
  `A2_NOME` varchar(40) NOT NULL,
  `A2_EST` varchar(2) NOT NULL,
  `A2_PAIS` varchar(3) NOT NULL,
  PRIMARY KEY (`A2_COD`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `SA2`
--

LOCK TABLES `SA2` WRITE;
/*!40000 ALTER TABLE `SA2` DISABLE KEYS */;
INSERT INTO `SA2` VALUES ('000001','Maltaria Andorra Corp.','SL','ESP');
/*!40000 ALTER TABLE `SA2` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `SB1`
--

DROP TABLE IF EXISTS `SB1`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `SB1` (
  `B1_COD` varchar(15) NOT NULL,
  `B1_DESC` varchar(60) NOT NULL,
  `B1_UM` varchar(2) NOT NULL DEFAULT 'KG',
  `B1_TIPO` varchar(2) NOT NULL DEFAULT 'PA',
  PRIMARY KEY (`B1_COD`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `SB1`
--

LOCK TABLES `SB1` WRITE;
/*!40000 ALTER TABLE `SB1` DISABLE KEYS */;
INSERT INTO `SB1` VALUES ('PR0001','Malte Blend','TO','B1');
/*!40000 ALTER TABLE `SB1` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `SB2`
--

DROP TABLE IF EXISTS `SB2`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `SB2` (
  `B2_COD` varchar(15) NOT NULL,
  `B2_LOCAL` varchar(2) NOT NULL DEFAULT '01',
  `B2_QATU` decimal(12,2) NOT NULL DEFAULT '0.00',
  `B2_QMIN` decimal(12,2) NOT NULL DEFAULT '0.00',
  PRIMARY KEY (`B2_COD`,`B2_LOCAL`),
  CONSTRAINT `FK_fed836c46d75b7555f31c1a48a3` FOREIGN KEY (`B2_COD`) REFERENCES `SB1` (`B1_COD`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `SB2`
--

LOCK TABLES `SB2` WRITE;
/*!40000 ALTER TABLE `SB2` DISABLE KEYS */;
/*!40000 ALTER TABLE `SB2` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `SD2`
--

DROP TABLE IF EXISTS `SD2`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `SD2` (
  `id` int NOT NULL AUTO_INCREMENT,
  `D2_DOC` varchar(9) NOT NULL,
  `D2_SERIE` varchar(3) NOT NULL DEFAULT '1',
  `D2_ITEM` varchar(2) NOT NULL,
  `D2_COD` varchar(15) NOT NULL,
  `D2_QUANT` decimal(12,2) NOT NULL,
  `D2_PRCVUNIT` decimal(12,2) NOT NULL,
  `D2_TOTAL` decimal(12,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_f451c31496437f0a043c2d6968f` (`D2_DOC`),
  KEY `FK_567b6d5d98250ec9d3360d42ae2` (`D2_COD`),
  CONSTRAINT `FK_567b6d5d98250ec9d3360d42ae2` FOREIGN KEY (`D2_COD`) REFERENCES `SB1` (`B1_COD`),
  CONSTRAINT `FK_f451c31496437f0a043c2d6968f` FOREIGN KEY (`D2_DOC`) REFERENCES `SF2` (`F2_DOC`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `SD2`
--

LOCK TABLES `SD2` WRITE;
/*!40000 ALTER TABLE `SD2` DISABLE KEYS */;
/*!40000 ALTER TABLE `SD2` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `SE1`
--

DROP TABLE IF EXISTS `SE1`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `SE1` (
  `E1_NUM` varchar(9) NOT NULL,
  `E1_VALOR` decimal(12,2) NOT NULL,
  `E1_VENCTO` date NOT NULL,
  `E1_CLIENTE` varchar(6) DEFAULT NULL,
  PRIMARY KEY (`E1_NUM`),
  KEY `FK_55bfc1ac1ff065b963b6e1efc4a` (`E1_CLIENTE`),
  CONSTRAINT `FK_55bfc1ac1ff065b963b6e1efc4a` FOREIGN KEY (`E1_CLIENTE`) REFERENCES `SA1` (`A1_COD`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `SE1`
--

LOCK TABLES `SE1` WRITE;
/*!40000 ALTER TABLE `SE1` DISABLE KEYS */;
/*!40000 ALTER TABLE `SE1` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `SE2`
--

DROP TABLE IF EXISTS `SE2`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `SE2` (
  `E2_NUM` varchar(9) NOT NULL,
  `E2_VALOR` decimal(12,2) NOT NULL,
  `E2_VENCTO` date NOT NULL,
  `E2_FORNECE` varchar(6) DEFAULT NULL,
  PRIMARY KEY (`E2_NUM`),
  KEY `FK_9d6ab809d4e43c83869d3e99883` (`E2_FORNECE`),
  CONSTRAINT `FK_9d6ab809d4e43c83869d3e99883` FOREIGN KEY (`E2_FORNECE`) REFERENCES `SA2` (`A2_COD`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `SE2`
--

LOCK TABLES `SE2` WRITE;
/*!40000 ALTER TABLE `SE2` DISABLE KEYS */;
/*!40000 ALTER TABLE `SE2` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `SF1`
--

DROP TABLE IF EXISTS `SF1`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `SF1` (
  `F1_DOC` varchar(9) NOT NULL,
  `F1_SERIE` varchar(3) NOT NULL,
  `F1_EMISSAO` date NOT NULL,
  `F1_VALTOT` decimal(12,2) NOT NULL,
  `F1_FORNECE` varchar(6) NOT NULL,
  PRIMARY KEY (`F1_DOC`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `SF1`
--

LOCK TABLES `SF1` WRITE;
/*!40000 ALTER TABLE `SF1` DISABLE KEYS */;
/*!40000 ALTER TABLE `SF1` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `SF2`
--

DROP TABLE IF EXISTS `SF2`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `SF2` (
  `F2_DOC` varchar(9) NOT NULL,
  `F2_SERIE` varchar(3) NOT NULL,
  `F2_EMISSAO` date NOT NULL,
  `F2_VALTOT` decimal(12,2) NOT NULL,
  `F2_CLIENTE` varchar(6) NOT NULL,
  PRIMARY KEY (`F2_DOC`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `SF2`
--

LOCK TABLES `SF2` WRITE;
/*!40000 ALTER TABLE `SF2` DISABLE KEYS */;
/*!40000 ALTER TABLE `SF2` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ZUR`
--

DROP TABLE IF EXISTS `ZUR`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ZUR` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('admin','sales','inventory','financial') NOT NULL DEFAULT 'sales',
  `isActive` tinyint NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `IDX_dfd48946f51d54c46864b77420` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ZUR`
--

LOCK TABLES `ZUR` WRITE;
/*!40000 ALTER TABLE `ZUR` DISABLE KEYS */;
INSERT INTO `ZUR` VALUES (1,'admin','$2b$10$J8g0fv5wgAD3AUAOylALPeakWCx5wDXHmHLMXuK.oj5pCU0h7c1wC','admin',1),(2,'vendedor.teste','$2b$10$a6OW4Gy9V36fQo4qE4mOVeYOsqWxzwShrR/7oab0/snQ3cl8vuSf2','sales',1);
/*!40000 ALTER TABLE `ZUR` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-08  3:05:59
